<header class="m-header clearfix">
  <div class="m-header--titlebar">
    <a class="m-header--link" href="/"><img class="m-header--title" alt="SXDrinks" src="{% asset_path logo.svg %}"></a>
  </div>

  <nav class="m-header--navigation m-navigation" role="navigation">
    <div class="m-navigation--menubar" role="menubar">
      {% for nav in site.data.navigation %}
        {% assign current = nil %}
        {% assign url = page.url|remove:'index.html' %}
        {% if url == nav.url %}
          {% assign current = 'active' %}
        {% elsif page.dir contains nav.url and nav.url != '/' %}
          {% assign current = 'active-trail' %}
        {% endif %}
        <a class="m-navigation--menuitem {{current}}" role="menuitem" href="{{ nav.url | prepend: site.baseurl }}">{{ nav.name }}</a>
      {% endfor %}
      <a class="m-navigation--menuitem" target="_blank" role="menuitem" href="https://twitter.com/sxdrinks"><svg class="icon" title="Follow our twitter"><use xlink:href="#icon-twitter"></use></svg></a>
      <a class="m-navigation--menuitem" target="_blank" role="menuitem" href="https://www.instagram.com/sxdrinks/"><svg class="icon" title="Follow our instagram"><use xlink:href="#icon-instagram"></use></svg></a>
      <a class="m-navigation--menuitem" target="_blank" role="menuitem" href="{{ '/feed.xml' | prepend: site.baseurl }}"><svg class="icon" title="RSS Feed"><use xlink:href="#icon-rss"></use></svg></a>
    </div>
  </nav>
</header>
