<div class="m-mailchimp clearfix">
  <h4 class="m-mailchimp--title">Sign up for our daily event blast</h4>
  <form action="//openbaratx.us12.list-manage.com/subscribe/post?u=440d244a915230140fb9d9d9a&amp;id=cea860907c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

    <input type="email" value="" name="EMAIL" placeholder="Email Address" class="required email" id="mce-EMAIL">

    <strong>What will you be attending? </strong>
    <div class="m-mailchimp--checkboxes">
      <input type="checkbox" value="1" name="group[5709][1]" id="mce-group[5709]-5709-0"><label for="mce-group[5709]-5709-0">Interactive</label>
      <input type="checkbox" value="2" name="group[5709][2]" id="mce-group[5709]-5709-1"><label for="mce-group[5709]-5709-1">Music</label>
      <input type="checkbox" value="4" name="group[5709][4]" id="mce-group[5709]-5709-2"><label for="mce-group[5709]-5709-2">Film</label>
    </div>

    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_440d244a915230140fb9d9d9a_cea860907c" tabindex="-1" value=""></div>

    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">

  </form>
</div>
