.m-navigation {

  &--menubar {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
  }

  a {
    padding: 0.1em 0.75em;
    margin: 0 0.5em 0.5em 0;
    text-decoration: none;
    border: 1px solid $black;

    &:hover {
      border-color: $green-dark;
      color: $green-dark;
    }
  }

  .icon {
    position: relative;
    top: 2px;
  }
}
