.m-post {

  &--title {
    margin-bottom: 0;
  }

  &--meta {
    margin-bottom: 1em;
    //font-size: 0.8em;
  }

  &--meta,
  &--tweeter {
    display: inline-block;
  }

  &--tweeter {
    margin-left: 1em;

    > a {
      padding: 0.1em 0.75em;
      border: 1px solid $black;
    }

    .icon {
      position: relative;
      top: 2px;
    }
  }
}
