<!DOCTYPE html>
<!--[if lte IE 8]> <html class="no-js lte-ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en-us"> <!--<![endif]-->
<html>

  {% include head.html %}

  <body class="l-default">

    {% include header.html %}

    <main class="l-main" role="main" {% if page.css_id %}id="{{ page.css_id }}"{% endif %}>
      {{ content }}
    </main>

    {% unless page.hide_sidebar %}
    <aside class="l-aside">
      {% include embed.html %}
    </aside>
    {% endunless %}

    {% include footer.html %}

    {% include modal.html %}

    {% include svgs.html %}

    {% include analytics.html %}

  </body>

</html>
